  <div class="row">
    <div class="col-md-6">
      {{contact-item-form item=model buttonLabel="Add to contact list" action="saveContact"}}
    </div>
    <div class="col-md-4">
      {{#contact-item item=model}}
      <br>
      {{/contact-item}}
    </div>
  </div>